{% extends 'base.html' %}

{% block title %} | Browse Blogs {% endblock %}

{% block content %}


<section id="showcase-inner" class="py-5 text-black">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">Browse Our <span style="color:#e7e7e7">Blogs</span></h1>
                <p class="lead">Check blogs which we have in our database!  </p>
            </div>
        </div>
    </div>
</section>


<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}">
                    <i class="fas fa-home"></i> Home</a>
                </li>
            <li class="breadcrumb-item active"> Blogs</li>
            </ol>
        </nav>
    </div>
</section>



<section id="blogs">
    {% if blogs %}
        {% for blog in blogs %}
            <div class="card text-center">
                <div class="card-header">
                    {{ blog.name }}
                </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ blog.author }}</h5>
                        <p class="card-text">Blog's url: {{ blog.url }}</p>
                        <a href="{{ blog.url }}" class="btn btn-primary">Visit blog</a>
                    </div>
                <div class="card-footer text-muted">
                2 days ago
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="col-md-12">
            <p>No Blogs Available :(</p>
        </div>
    {% endif %}
</section>

{% endblock %}