{% extends 'base.html' %}

{% block title %} | Browse Blogs {% endblock %}

{% block content %}

<section id="showcase-inner" class="py-5 text-black">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">Browse Our <span style="color:#e7e7e7">Blogs</span></h1>
                <p class="lead">Check blogs which we have in our database!  </p>
            </div>
        </div>
    </div>
</section>


<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}">
                    <i class="fas fa-home"></i> Home</a>
                </li>
                <li class="breadcrumb-item active"> 
                    <a href="{% url 'blogs' %}">Blogs</a>
                </li>
            </ol>
        </nav>
    </div>
</section>



<section id="blogs">
    {% if blogs %}
        {% for blog in blogs %}
            <div class="card text-center">
                <div class="card-header">
                    <a href="{% url 'blog_info' pk=blog.id %}" class="no-link">{{ blog.name }}</a>
                </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ blog.author }}</h5>
                        {{blog.genre}} | <a href="{{ blog.url }}" class="card-text">{{ blog.url }}</a>
                    </div>
                    
                <div class="card-footer text-muted">
                    <div class="card-button">
                        <button class='button subscribe-button'>Subscribe</button>
                    </div>
                    <hr class="my-2">
                    Last post published: {{ blog.blog_post.first.added|date:"M d, Y" }}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="col-md-12">
            <p>No Blogs Available :(</p>
        </div>
    {% endif %}
</section>

<script src="/blogs_manager/static/js/subscribe_blog.js"></script>

{% endblock %}