{% extends 'base.html' %}

{% block title %} | {{blog.name}} Info {% endblock %}

{% block content %}

<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}">
                    <i class="fas fa-home"></i> Home</a>
                </li>
                <li class="breadcrumb-item active"> 
                    <a href="{% url 'blogs' %}">Blogs</a>
                </li>
                <li class="breadcrumb-item active"> 
                    {{ blog.name }}
                </li>
            </ol>
        </nav>
    </div>
</section>

<section id="blog_info" class="mt-3"></section>
    <div class="card text-center">
        <div class="card-header">
            <h1>
                {{ blog.name }}
            </h1>
        </div>
            <div class="card-body blog-info-body">
                <div class="blog-info-subcard">1</div>
                <div class="blog-info-subcard blog-info-text">2</div>
                <div class="blog-info-subcard">3</div>
            </div>
        <div class="card-footer text-muted">
        Last post published: {{ blog_post.added|date:"M d, Y" }}
        </div>
    </div>
</section>

<section id="posts">
    {% if blog_posts %}
        {% for blog_post in blog_posts %}
            <div class="card text-center">
                <div class="card-header">
                    {{ blog_post.name }}
                </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ blog_post.blog.author }}</h5>
                        {{blog.genre}} | <a href="{{ blog_posts.url }}" class="card-text">{{ blog_post.url }}</a>
                    </div>
                <div class="card-footer text-muted">
                Last post published: {{ blog_post.added|date:"M d, Y" }}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="col-md-12">
            <p>No Posts Available :(</p>
        </div>
    {% endif %}
</section>





{% endblock %}