.bg-light {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 0;
    padding-top: 0;
}

.navbar{
    background-color: #e7e7e7!important;
}

.logo{
    width: 150px;
    height: 45px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0, 0.9);
    font-size: 17px;
}