/* ABOUT PAGE STYLES */

.about-page{
    flex: 1;
}

.about {
    margin-left: 20%;
    margin-right: 20%;
}

@media only screen and (max-width: 1830px) {
    .about {
        margin-left: 16%;
        margin-right: 16%;
    }
}