/* BLOGS LIST STYLES */

.blog {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20%;
  margin-right: 20%;
  border-width: 1px;
  border-radius: 0.5rem;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.125);
}

.blog-header {
  font-size: 20px;
  font-weight: bold;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  background-color: rgba(0, 0, 0, 0.03);
}

.blog-body {
  padding: 1.25rem;
  min-height: 1px;
}

.blog-title {
  font-size: 20px;
  margin-bottom: 8px;
}

.blog-text {
  font-size: 1rem;
  margin-bottom: 8px;
}

.blog-footer {
  font-size: 0.9rem;
  color: #6c757d;
  padding: 0.75rem 1.25rem;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  background-color: rgba(0, 0, 0, 0.03);
}

.blog-button {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 4px;
}

.my-2 {
  width: 80%;
}

.btn-primary {
  background: rgb(61, 130, 221);
}

.col-md-12 p {
  text-align: center;
}


@media only screen and (max-width: 1840px) {
  .blog {
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 16%;
    margin-right: 16%;
  }
  
  .blog-header {
    font-size: 18px;
    padding: 0.7rem 1.2rem;
  }
  
  .blog-body {
    padding: 1.2rem;
    min-height: 0.9px;
    font-size: 0.9rem;
  }
  
  .blog-title {
    font-size: 18px;
    margin-bottom: 7px;
  }
  
  .blog-text {
    font-size: 0.9rem;
    margin-bottom: 7px;
  }
  
  .blog-footer {
    font-size: 0.8rem;
    padding: 0.7rem 1.2rem;
  }
  
  .blog-button {
    font-size: 16px;
  }
}

@media only screen and (max-width: 992px) {
  .blog {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .blog-header {
    font-size: 16px;
    padding: 0.6rem 1.1rem;
  }
  
  .blog-body {
    padding: 1.1rem;
    min-height: 0.8px;
    font-size: 0.8rem;
  }
  
  .blog-title {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .blog-text {
    font-size: 0.8rem;
    margin-bottom: 5px;
  }
  
  .blog-footer {
    font-size: 0.7rem;
    padding: 0.6rem 1.1rem;
  }
  
  .blog-button {
    font-size: 14px;
  }
}