/* BLOG POSTS LIST STYLES */

.blog-post {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20%;
  margin-right: 20%;
}

.blog-post-header {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  background-color: rgba(0, 0, 0, 0.03);
  display: flex;
}

.blog-post-header-info {
  flex-grow: 1;
  width: 15%;
}

.blog-post-header-title {
  flex-grow: 3;
  width: 70%;
}

.blog-post-header-sign {
  flex-grow: 1;
  width: 15%;
}

.subscribed-sign {
  font-size: 0.62rem;
  color: #686868;
  margin: 1px;
  float: right;
  border-radius: 0.3rem;
  border: 1px solid #686868;
  pointer-events: none;
  opacity: 0.82;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1), 0 3px 3px 0 rgba(0, 0, 0, 0.15);
  background-color: white;
}

.new-sign {
  font-size: 0.62rem;
  color: #0c7215;
  margin: 1px 0px 1px 2px;
  float: right;
  border-radius: 0.3rem;
  border: 1px solid #0c7215;
  pointer-events: none;
  opacity: 0.87;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1), 0 3px 3px 0 rgba(0, 0, 0, 0.15);
  background-color: white;
}

.blog-post-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.blog-post-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.blog-post-text {
  margin-bottom: 0.5rem;
  text-decoration: none;
}

.blog-post-footer {
  color: #6c757d;
  padding: 0.75rem 1.25rem;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
  background-color: rgba(0, 0, 0, 0.03);
}





.subscribe {
  font-size: 13.7px;
}

.my-2 {
  width: 80%;
}

.btn-primary {
  background: rgb(61, 130, 221);
}

.col-md-12 p {
  text-align: center;
}


/* SUBSCRIBE BUTTONS STYLES */
.card-button {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 4px;
}

.button {
  border-radius: 8px;
  background-color: white;
  color: black;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  transition-duration: 0.4s;
}