/* BLOGS LIST STYLES */

.blog {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20%;
  margin-right: 20%;
  border-width: 1px;
  border-radius: 0.5rem;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.125);
}

.blog-header {
  font-size: 20px;
  font-weight: bold;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  background-color: rgba(0, 0, 0, 0.03);
}

.blog-body {
  padding: 1.25rem;
  min-height: 1px;
}

.blog-title {
  font-size: 20px;
  margin-bottom: 8px;
}

.blog-text {
  font-size: 1rem;
  margin-bottom: 8px;
}

.blog-footer {
  font-size: 0.9rem;
  color: #6c757d;
  padding: 0.75rem 1.25rem;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  background-color: rgba(0, 0, 0, 0.03);
}

.blog-button {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 4px;
}

.blog-info-card {
  margin-bottom: 60px !important;
}

.blog-info-header {
  background: rgba(55, 113, 189, 0.85);
}

.blog-info-body {
  display: inline-flex;
  justify-content: space-between;
}

.blog-info-subcard {
  text-align: center;
}

.blog-info-photo {
  margin: 20px;
  width: 200px;
  min-height: 120px;
}

.blog-info-text {
  margin: 20px;
  flex-grow: 3;
  text-align: left;
}

.blog-info-stats {
  margin: 20px;
  flex-grow: 3;
  text-align: left;
}

.blog-info-footer {
  background: rgba(55, 113, 189, 0.35);
}



.card-header-info {
  flex-grow: 1;
  text-align: left;
  font-size: 14px;
  font-weight: normal;
  width: 15%;
}

.card-header-title {
  flex-grow: 3;
  width: 70%;
}

.card-header-sign {
  flex-grow: 1;
  width: 15%;
}



.my-2 {
  width: 80%;
}

.btn-primary {
  background: rgb(61, 130, 221);
}

.col-md-12 p {
  text-align: center;
}
