.filters {
    display: flex;
    margin-top: 0.8rem;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 0.8rem;
    background-size: 100%;
    background-color: rgba(55, 113, 189, 0.8);
}

.filters-searching {
    flex: 0.5;
    padding: 1rem;
    text-align: center;
}

.filters-sorting {
    flex: 1;
    padding: 1rem;
    text-align: center;
}