.filters {
    display: flex;
    margin-top: 0.8rem;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 0.8rem;
    background-size: 100%;
    background-color: rgba(55, 113, 189, 0.8);
}

.filters-searching {
    flex: 0.5;
    padding: 1rem;
    text-align: center;
}

.filters-searching-input {
    border-radius: 0.25rem 
}

.filters-subscribed-only {
    display: flex;
    /* padding: 1rem 2rem 1rem 2rem; */
}

label {
    margin-bottom: 0;
}

.filters-refreshing {
    display: flex;
    /* padding: 1rem 2rem 1rem 2rem; */
}

.refreshing-button {
    align-self: center;
    font-size: 0.85rem;
    padding: 0.375rem 0.65rem;
    color: black;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: #e7e7e7;
    user-select: none;
}

.filters-sorting {
    display: flex;
    flex-direction:row;
    flex: 1;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-end;
    padding: 1rem;
    text-align: center;
}

.sorting-button {
    align-self: center;
    font-size: 0.85rem;
    margin: 0 0.4rem;
    padding: 0.375rem 0.65rem;
    color: black;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: #e7e7e7;
    user-select: none;
}

.sorting-button:hover,
.refreshing-button:hover {
    color: white;
    border-color: #8b8b8b;
    background-color: #9d9a9a;
}

.sorting-button:focus {
    outline: 0;
    color: white;
    border-color: #8b8b8b;
    background-color: #9d9a9a;
}


@media only screen and (max-width: 1830px) {
    .filters {
        margin-top: 0.7rem;
        margin-left: 16%;
        margin-right: 16%;
        border-radius: 0.7rem;
    }

    .filters-searching {
        padding: 0.8rem;
    }

    .form-control {
        height: calc(1.5em + 0.75rem + 2px) * 0.9;
        padding: 0.35rem 0.65rem;
        font-size: 0.9rem;
        font-weight: 350;
        line-height: 1.3;
    }

    .input-group-text {
        padding: 0.35rem 0.65rem;
        font-size: 0.9rem;
        font-weight: 350;
        line-height: 1.3;
    }

    .MuiSvgIcon-root {
        width: 0.9em !important;
        height: 0.9em !important;
    }

    .MuiTypography-body1 {
        font-size: 0.9rem !important;
        font-weight: 350 !important;
        line-height: 1.3 !important;
    }

    .refreshing-button {
        font-size: 0.75rem;
        padding: 0.3rem 0.5rem;
    }
    
    .filters-sorting {
        padding: 0.8rem;
    }

    .sorting-button {
        font-size: 0.75rem;
        margin: 0 0.25rem;
        padding: 0.35rem 0.5rem;
    }

    .svg-inline--fa.fa-w-10 {
        width: 0.61em;
    }

    .svg-inline--fa {
        height: 0.95em;
    }
}