.filters {
    display: flex;
    margin-top: 0.8rem;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 0.8rem;
    background-size: 100%;
    background-color: rgba(55, 113, 189, 0.8);
}

.filters-searching {
    flex: 0.5;
    padding: 1rem;
    text-align: center;
}

.filters-searching-input {
    border-radius: 0.25rem 
}

.filters-sorting {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 1rem;
    margin-left: 2rem;
    text-align: center;
}

.sorting-button {
    align-self: center;
    font-size: 0.85rem;
    padding: 0.375rem 0.65rem;
    color: black;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: #e7e7e7;
    user-select: none;
}

.sorting-button:hover {
    color: white;
    border-color: #8b8b8b;
    background-color: #9d9a9a;
}

.sorting-button:focus {
    outline: 0;
    color: white;
    border-color: #8b8b8b;
    background-color: #9d9a9a;
}