/* FOOTER STYLES */

.footer {
    font-size: 1rem;
  }
  
@media only screen and (max-width: 1840px) {
    .footer {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 992px) {
    .footer {
        font-size: 0.8rem;
    }
}
  