/* LOGIN STYLES */

.login{
    flex: 1;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 3rem;
    padding-top: 3rem;
    background-color: #f8f9fa;
}

.card-login{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-left: 0;
    margin-right: 0;
}

@media only screen and (max-width: 1840px) {
    .login{
        padding-left: 16%;
        padding-right: 16%;
        padding-bottom: 2.5rem;
        padding-top: 2.5rem;
    }

    .card-header h5 {
        font-size: 1.15rem;
        margin-bottom: 0.4rem;
        font-weight: 400;
        line-height: 1.1;
    }

    .card-body {
        font-size: 0.9rem;
        font-weight: 350;
        line-height: 1.3;
    }

    .btn {
        font-size: 0.9rem;
        font-weight: 350;
        line-height: 1.3;
    }
}

@media only screen and (max-width: 992px) {
    .login{
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 2.2rem;
        padding-top: 2.2rem;
    }

    .card-header h5 {
        font-size: 1rem;
        margin-bottom: 0.3rem;
        font-weight: 350;
        line-height: 1.1;
    }

    .card-body {
        font-size: 0.8rem;
        font-weight: 350;
        line-height: 1.2;
    }

    .btn {
        font-size: 0.8rem;
        font-weight: 350;
        line-height: 1.2;
    }
}