.bg-primary{
    background-color: rgb(55, 113, 189)!important;
    
}

h4{
    font-size: 20px;
}

.card-register{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-left: 0;
    margin-right: 0;
}

.card-login{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-left: 0;
    margin-right: 0;
}
