/* SHOWCASE STYLES */

.showcase-inner {
    padding: 3rem;
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 180px; 
    background: url(../images/background.jpg) no-repeat center;
    background-size: cover;
}

.showcase-inner::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    content: '';
    background: rgba(55, 113, 189, 0.65);
    background-size: cover;
}

.secondary{
    font-size: 1.5rem;
}