{% extends 'base.html' %} 

{% block title %} | Welcome {% endblock %}

{% block content %}


<section id="showcase-inner" class="py-5 text-black">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">Managing <span style="color:#e7e7e7">Blogs</span> Has Never Been So Easy</h1>
                <p class="lead">Subscribe, manage and follow your favourite blogs in one place!  </p>
            </div>
        </div>
    </div>
</section>

<section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}">
                <i class="fas fa-home"></i> Home</a>
            </li>
          <li class="breadcrumb-item active"> Latest</li>
        </ol>
      </nav>
    </div>
</section>

{% include 'partials/_alert.html' %}

<section id="blogs">
    {% if blog_posts %}
        {% for blog_post in blog_posts %}
            <div class="card text-center">
                <!-- PODZIELIC NA # DIVY W FLEX TEN W SRODKU MA TYTUL TEN PO PRAWWEJ MA INFO -->
                <div class="card-header">
                    <div class="card-header-space">
                        
                    </div>
                    <div class="card-header-title">
                        {{ blog_post.name }}
                    </div>
                    <div class="card-header-info">
                        {% if blog_post.blog.subscribed_blog.all.first in blogs_subscribed %}
                        <button class='subscribed-sign'>SUBSCRIBED</button>
                        {% endif %}
                    </div>
                </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ blog_post.author }}</h5>
                        <a href="{% url 'blog_info' pk=blog_post.blog.id %}" class="card-text no-link">{{blog_post.blog}}</a> | <a href="{{ blog_post.url }}" class="card-text">{{ blog_post.url }}</a>
                    </div>
                <div class="card-footer text-muted">
                Added: {{ blog_post.added|date:'d/m/Y' }}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="col-md-12">
            <p>No Blogs Available :(</p>
        </div>
    {% endif %}
</section>



{% endblock %}
