body{
    font-family: Impact, Charcoal, sans-serif;
    background-color: white;
}

/* LINKS STYLES */
a.no-link:link
{
   color: black;
   text-decoration: none;
}
a.no-link:visited
{
   color: black;
   text-decoration: none;
}
a.no-link:hover
{
   color: gray;
   text-decoration: none;
}
a.no-link:active
{
   color: black;
   text-decoration: none;
}

/* NAVBAR STYLES */
.bg-light {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 0;
    padding-top: 0;
}

.navbar{
    background-color: #e7e7e7!important;
}

.logo{
    width: 150px;
    height: 45px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0, 0.9);
    font-size: 17px;
}

/* SHOWCASE STYLES */
.lead{
    font-size: 22px;
}

#showcase-inner {
    background: url(../img/background.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    min-height: 180px; 
}
#showcase-inner::before {
    background: rgba(55, 113, 189, 0.65);
    background-size: cover;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
}

/* BREADCRUMB STYLES */
.breadcrumb-item a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

/* BLOG INFO STYLES */
.blog-info-body{
    display: inline-flex;
    justify-content: space-between;
}

.blog-info-subcard{
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}



/* BLOGS LIST STYLES */
.card{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

.card-header{
    font-size: 20px;
    font-weight: bold;
}


.card-title{
    font-size: 20px;
    margin-bottom: 8px;
}

.card-text{
    margin-bottom: 8px;
}

.subscribe{
    font-size: 13.7px;
}

.my-2{
    width:80%; 
}

.btn-primary{
    background: rgb(61, 130, 221);
}

.col-md-12 p{
    text-align: center;
}

/* SUBSCRIBE BUTTONS STYLES */
.card-button{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 4px;
}


.button {
    border-radius: 8px;
    background-color: white;
    color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.15);
    transition-duration: 0.4s;
}

.button:focus{
    outline:none;
}

.subscribe-button{
    border: 2.5px solid rgb(61, 130, 221);
}

.subscribe-button:hover {
    background-color: rgb(61, 130, 221);
    color: white;
}

.unsubscribe-button{
    border: 2.5px solid rgb(226, 47, 47);
}

.unsubscribe-button:hover {
    background-color: rgb(226, 47, 47);
    color: white;
}


/* REGISTER STYLES */
.bg-primary{
    background-color: rgb(55, 113, 189)!important;
    
}

h4{
    font-size: 20px;
}

.card-register{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-left: 0;
    margin-right: 0;
}

.card-login{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-left: 0;
    margin-right: 0;
}








